.about-content {
  width: 50vw;
  margin: 3vw;
  h3 {
    line-height: 200%;
  }
}

.about-image {
  width: 50vw;
  border-radius: 10%;
  overflow: hidden;
  margin: 0;
  transition: 0.5s;
  
  @include themed() {
    border: 6px solid t("bg");
  }

  @media (min-width: $lg) {
    width: 25vw;
  }

  @media (min-width: $xl) {
    width: 300px;
  }
}

.about-image:hover {
  box-shadow: 10px 10px $purple, -10px -10px $aqua;
}

// .resume-link {
//   display: flex;

//   .button {
//     background-color: $blue;
//     box-shadow: $blue;
//   }
// }

@media (min-width: $xl) {
  .about-content {
    width: 500px;
    margin: 50px;

    h1 {
      margin-bottom: 20px;
    }
  }
}
