@use "@styles/variables" as var;

.about-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
  z-index: -3;
  overflow: hidden;
  background-color: var.$bg-alt;

  h1,
  h2 {
    margin: 20px;
  }

  p {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: var.$md) {
    height: 80vh;
  }

  @media screen and (max-width: var.$sm) {
    height: 100vh;
  }
}

.about {
  display: flex;

  background-color: var.$bg-main;
  border-radius: 1vw;
  box-shadow: var.$bg-accent 1vw 1vw;
  height: 50vh;
  width: 75vw;
  padding: 1vw;

  @media screen and (max-width: var.$md) {
    height: 65vh;

    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  @media screen and (max-width: var.$sm) {
    height: 75vh;
    width: 90vw;
  }
}

.about-text {
  width: 45vw;
  overflow: hidden;

  h1 {
    font-size: 1.75em;
  }

  p {
    font-size: 1.3em;
  }

  @media screen and (max-width: var.$md) {
    width: 70vw;

    p {
      font-size: 1em;
    }
  }

  @media screen and (max-width: var.$sm) {
    h1 {
      font-size: 1.3em;
    }
  }
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  overflow: hidden;

  img {
    width: 22vw;
    height: 22vw;
    border-radius: 10%;
    border: 5px solid #f8f8f8;
    overflow: hidden;
    margin: 0;
    background-color: #f8f8f8;
  }

  @media screen and (max-width: var.$md) {
    height: 33vw;
    width: 75vw;

    img {
      width: 33vw;
      height: 33vw;
    }
  }

  @media screen and (max-width: var.$sm) {
    height: 45vw;

    img {
      width: 45vw;
      height: 45vw;
    }
  }
}
