@use "@styles/variables" as var;

// Start at lowest breakpoint <576px
.contact-wrapper {
  width: 100vw;

  @include var.themed() {
    background-color: var.t("bg");
  }
}

.contact-header {
  display: flex;
  justify-content: center;
  padding: 8vw;

  @include var.themed() {
    background-color: var.t("bg");
  }
}

.contact-content {
  display: flex;
  // Puts link above form
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 90vw;
  height: 35vh;

  border-radius: 1vh;
  padding: 5vw;

  @include var.themed() {
    background-color: var.t("alt");
  }
}

.main-form {
  display: flex;
  flex-direction: column;
  margin: 1vw;

  h3,
  input,
  textarea {
    margin-bottom: 1vh;
    width: 80vw;
    height: 3vh;
  }

  .submit-button {
    width: 50vw;
    height: 3vh;
  }
}

.account-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3vh;
}

.link-tag {
  display: flex;
  align-items: center;
  height: 80px;
  width: 250px;
  text-decoration: none;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 20px;
    transition: 0.5s;
  }
}

.link-tag:hover {
  h1 {
    font-size: 22px;
  }

  .link-icon {
    width: 55px;
    height: 55px;
  }
}

.link-icon {
  width: 50px;
  height: 50px;
  transition: 0.5s;

  margin: 10px;

  @include var.themed() {
    filter: var.t("filter");
  }
}

// Small Breakpoint
@media screen and (min-width: var.$sm) {
  .contact-header {
    display: flex;
    justify-content: center;
    padding: 8vw;
  }

  .form-container {
    width: 90vw;
    height: 40vh;

    border-radius: 1vh;
    padding: 5vw;
  }
}

// Medium Breakpoint
@media screen and (min-width: var.$md) {
}

// Large Breakpoint
@media screen and (min-width: var.$lg) {
  .contact-header {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 4vw;
  }

  .contact-content {
    flex-direction: row;
    align-items: center;
  }

  .form-container {
    width: 60vw;
    height: 50vh;

    margin: 5vw;
  }

  .main-form {
    display: flex;
    flex-direction: column;
    margin: 1vw;

    h3,
    input,
    textarea {
      margin-bottom: 1vh;
      width: 50vw;
    }

    .submit-button {
      width: 20vw;
    }
  }
}

// Extre Large Breakpoint
@media screen and (min-width: var.$xl) {
}
