@use "@styles/variables" as var;

.footer-wrapper {
  display: flex;
  flex-direction: column;

  width: 100vw;

  background-color: #111111;
  color: #ffffff;
}

.footer-item {
  display: flex;
  align-items: center;
  height: 5vw;
  min-height: 75px;
  margin-right: 1vw;

  p {
    margin-right: 1vw;
  }

  a {
    color: #ffffff;
    transition: 1s;
  }

  a:hover {
    position: relative;
    background: var.$gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    margin-right: auto;
    margin-left: 2vw;

    max-width: 4vw;
    min-width: 50px;
    filter: invert(0%) sepia(9%) saturate(25%) hue-rotate(331deg)
      brightness(89%) contrast(81%);
  }

  @media screen and (max-width: var.$sm) {
    justify-content: center;

    img {
      display: none;
    }
  }
}

.gradient-bar {
  width: 100vw;
  height: 1vh;
  z-index: 2;

  background: var.$gradient;
}
