@use "@styles/variables" as var;

.footer-wrapper {
  display: flex;
  flex-direction: column;

  width: 100vw;
  color: #ffffff;

  @include var.themed() {
    background-color: var.t("alt");
  }
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  min-height: 75px;
  margin-right: 1vw;

  p {
    margin-right: 1vw;
  }

  a {
    transition: 1s;
  }

  a:hover {
    position: relative;
    background: var.$gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-bar {
  width: 100vw;
  height: 1vh;
  z-index: 2;

  background: var.$gradient;
}
