// All footer specific styling
.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include themed() {
    background-color: t("alt");
  }
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
  min-height: 75px;

  a {
    margin-left: 6px;
    text-decoration: underline;
  }

  a:hover {
    position: relative;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-bar {
  width: 100vw;
  height: 1vh;
  background: $gradient;
}
