@use "@styles/variables" as var;

.more-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  background-color: var.$bg-main;

  h1 {
    margin: 2vw 0 0.5vw 0;
  }

  hr {
    width: 10vw;
    height: 0.5vh;
    border: 0;
    background-color: #ffffff;
  }
}

.more-wrapper {
  display: flex;
  justify-content: space-evenly;
  background-color: var.$bg-main;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.more-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 25vw;
  background-color: var.$bg-alt;
  border-radius: 1vw;
  box-shadow: var.$bg-accent 1vh 1vh;
  margin: 0 2vw 4vw 2vw;
  overflow: hidden;

  .image {
    position: absolute;
    width: 25vw;
    height: 25vw;
    opacity: 0.2;
    transition: 0.5s;

    img {
      height: 100%;
      width: 100%;
      border-radius: 1vw;
    }
  }

  .image:hover {
    opacity: 0.5;
  }

  @media screen and (max-width: 768px) {
    width: 80vw;
    height: 80vw;

    .image {
      width: 80vw;
      height: 80vw;
    }
  }
}

.more-image {
  filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg)
    brightness(110%) contrast(110%);
  width: 8vw;
  height: 8vw;
}
