// Navbar hidden on mobile
.nav-bar {
  display: none;
}

// Style mobile nav
.nav-button {
  position: fixed;
  bottom: 0;
  right: 0;

  background-color: black;
  width: 60px;
  height: 60px;
  margin: 20px;
}

// Style Dropdown
.mobile-dropdown {
  position: fixed;
  bottom: 15vw;
  right: 0;
  margin: 20px;
}


@media screen and (min-width: $md) {
    // Hide mobile nav
    .nav-button {
      display: none;
    }

    // Hide Dropdown
    .mobile-dropdown {
      display: none;
    }

    // Style desktop nav
    .nav-bar {
      display: flex;
      justify-content: end;
      align-items: center;

      width: 100vw;
      height: 10vh;
  
      @include themed() {
        background-color: t("bg");
      }

      a {
        margin-right: 2vw;
        font-size: calc(1rem + 1vw);
      }

      .nav-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        border-width: 0px;
        margin-right: 2vw;
        width: 40px;
        height: 40px;

        svg {
          width: 40px;
          height: 40px;

          @include themed() {
            stroke: t("text");
          }
        }
      }

      .nav-icon:hover {
        cursor: pointer;
      }
    }
  }

