@use "@styles/variables" as var;

.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 30;

  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 10vh;

  margin-top: 1vh;

  // Navbar hidden on mobile
  .nav-bar {
    display: none;
  }

  // Style mobile nav
  .nav-button {
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: black;
    width: 60px;
    height: 60px;
    margin: 20px;
  }

  // Style Dropdown
  .mobile-dropdown {
    position: fixed;
    bottom: 15vw;
    right: 0;
    margin: 20px;
  }
}

@media screen and (min-width: var.$md) {
  .nav-wrapper {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

    margin-top: 0;
    border-bottom: 1px solid var.$bg-accent-dark;

    @include var.themed() {
      background-color: var.t("bg");
    }

    // Hide mobile nav
    .nav-button {
      display: none;
    }

    // Hide Dropdown
    .mobile-dropdown {
      display: none;
    }

    // Style desktop nav
    .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;

      margin: 0 0 0 0;
      margin-right: 1vw;

      a {
        margin-right: 2vw;
        text-decoration: none;
        padding: 10px;
        margin-top: 0vh;
        font-size: calc(1rem + 1vw);
        transition: 0.5s;
      }

      a:hover {
        margin-top: 0.5vh;
      }

      .nav-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        border-width: 0px;
        margin: 1vw 1vw 1vw 0;
        width: 40px;
        height: 40px;

        svg {
          width: 40px;
          height: 40px;

          @include var.themed() {
            stroke: var.t("text");
          }
        }
      }

      .nav-icon:hover {
        margin-top: 1.5vw;
        cursor: pointer;
      }

      .color-1:hover {
        color: var.$red;
      }

      .color-2:hover {
        color: var.$green;
      }

      .color-3:hover {
        color: var.$yellow;
      }

      .color-4:hover {
        color: var.$blue;
      }
    }
  }
}
