@use "@styles/variables" as var;

.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 30;

  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 10vh;

  margin-top: 1vh;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: end;

  z-index: 1;
  margin: 1vw 1vh 0 0;

  a {
    margin-right: 2vw;
    text-decoration: none;
    padding: 10px;
    margin-top: 0vh;
    font-size: calc(1rem + 1vw);
    transition: 0.5s;
  }

  a:hover {
    margin-top: 0.5vh;
  }

  .color-1:hover {
    color: var.$red;
  }

  .color-2:hover {
    color: var.$green;
  }

  .color-3:hover {
    color: var.$yellow;
  }

  .color-4:hover {
    color: var.$blue;
  }

  .nav-icon {
    border-width: 0px;
  }
}

@media screen and (min-width: var.$md) {
  .nav-wrapper {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

    margin-top: 0;
    border-bottom: 1px solid var.$bg-accent-dark;

    @include var.themed() {
      background-color: var.t("bg");
    }

    .nav-bar {
      flex-direction: row;
      justify-content: end;
      align-items: center;

      margin: 0 0 0 0;
      margin-right: 1vw;

      .nav-icon {
        border-width: 0px;
        margin-right: 1vw;
        margin-top: 0vh;

        img {
          width: 2vw;
          height: 2vw;

          @include var.themed() {
            filter: var.t("filter");
          }
        }
      }

      .nav-icon:hover {
        margin-top: 0.5vh;

        img {
        }
      }
    }
  }
}
