@use "@styles/variables" as var;

// Start at lowest breakpoint <576px
.page-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  background-color: var.$bg-main;
  background-image: url("@img/backing.png");
  background-size: cover;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

.head {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }

  h1,
  p {
    text-shadow: 2px 2px var.$bg-main;
  }

  hr {
    background: var.$gradient;
    border: 0;

    height: 5px;
    width: 290px;
  }
}

.socials {
  // Base Icon Styles
  img {
    height: 25px;
    width: 25px;
    margin: 8px;

    filter: invert(100%) sepia(0%) saturate(7441%) hue-rotate(152deg)
      brightness(114%) contrast(103%);
    transition: 0.5s, filter 0s;
  }

  img:hover {
    transform: scale(1.05);
  }

  // Add icon specific coloring
  .linkedin:hover {
    filter: invert(15%) sepia(96%) saturate(4352%) hue-rotate(356deg)
      brightness(86%) contrast(84%);
  }

  .git:hover {
    filter: invert(57%) sepia(20%) saturate(1594%) hue-rotate(21deg)
      brightness(96%) contrast(85%);
  }
}

// No photo until $lg breakpoint
.photo-container {
  display: none;
}

// Small Breakpoint
@media screen and (min-width: var.$sm) {
  .head {
    h1 {
      font-size: 70px;
    }

    p {
      font-size: 25px;
    }

    hr {
      height: 8px;
      width: 500px;
    }
  }

  .socials {
    img {
      height: 30px;
      width: 30px;
    }
  }
}

// // Medium Breakpoint
// @media screen and (min-width: var.$md) {
//   .page-header {
//     justify-content: start;
//     padding-left: 5vw;
//   }
// }

// Large Breakpoint
@media screen and (min-width: var.$lg) {
  .page-header {
    justify-content: space-evenly;
  }

  .lg-head {
    display: flex;
    flex-direction: column;

    width: 600px;
  }

  .head {
    h1 {
      font-size: 68px;
    }
  }

  .photo-container {
    display: flex;
    justify-content: center;
    width: 400px;

    img {
      width: 400px;
      height: 400px;
      border: 10px solid #f8f8f8;
      border-radius: 50px;
      transition: 0.5s;
    }

    img:hover {
      box-shadow: 10px 10px var.$purple, -10px -10px var.$aqua;
    }
  }
}

// XL Breakpoint
@media screen and (min-width: var.$xl) {
  .head {
    h1 {
      font-size: 80px;
    }

    p {
      font-size: 2em;
    }

    hr {
      height: 12px;
      width: 575px;
    }
  }

  .socials {
    img {
      height: 35px;
      width: 35px;
      margin: 15px;
    }
  }
}
