// Start at lowest breakpoint <576px
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  min-height: fit-content;

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      letter-spacing: 2px;
      line-height: 170%;

      // Fixs weird transition on theme change
      span {
        transition: 0s;
      }
    }

    p {
      font-size: calc(1rem + 0.4vw);
    }
  }

  .header-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .circle {
      width: 14px;
      height: 14px;
      border-radius: 100%;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-row {
      display: flex;
      align-items: center;
      margin-top: 30px;
      transition: 0.5s;
    }

    // .info-row:hover {
    //   margin-top: 40px;
    // }
  }

  .theme-icon {
    height: 25px;
    width: 25px;
    margin: 0 10px 4px 0;

    @include themed() {
      stroke: t("text");
    }
  }

  .arrow-container {
    display: flex;
    justify-content: center;

    position: relative;
    top: 75px;
  }

  .arrow-container:hover {
    cursor: pointer;
  }
}

// Medium Breakpoint
@media (min-width: $md) {
  .page-header {

    .theme-icon {
      width: 30px;
      height: 30px;
    }
  }
}

// Large Breakpoint
@media (min-width: $lg) {
  .page-header {
    justify-content: space-evenly;

    .header-content {
      .header-text {
        .header-bar {
          .circle {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}

// XL Breakpoint
// @media (min-width: var.$xl) {
// }
