@use "@styles/variables" as var;

.page-header {
  display: flex;
  position: relative;
  align-items: center;
  background-color: var.$bg-main;
  background-image: url("@img/backing.png");
  background-size: cover;
  overflow: hidden;

  height: 100vh;
  width: 100vw;

  h1 {
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 1vh;
  }

  p {
    font-size: calc(1em + 1vw);
    margin-top: 5vh;
  }

  hr {
    max-height: 15px;
    height: 1vw;
    width: 45vw;
    background: var.$gradient;
    border: 0;
  }

  h1,
  p {
    text-shadow: 2px 2px var.$bg-main;
  }

  // Media Queries
  @media screen and (max-width: var.$xl) {
    h1 {
      font-size: 5em;
    }

    hr {
      width: 55vw;
    }
  }

  @media screen and (max-width: var.$lg) {
    h1 {
      font-size: 3.7em;
    }

    hr {
      width: 50vw;
    }
  }

  @media screen and (max-width: var.$md) {
    h1 {
      font-size: 4em;
    }

    hr {
      width: 75vw;
    }

    justify-content: center;
  }

  @media screen and (max-width: var.$sm) {
    h1 {
      font-size: 3em;
    }

    hr {
      width: 90vw;
    }
  }
}

.socials {
  display: flex;

  a {
    margin: 0.5vw;
    padding: 0.5vw;
  }

  img {
    max-width: 2vw;
    min-width: 20px;
    filter: invert(100%) sepia(0%) saturate(7441%) hue-rotate(152deg)
      brightness(114%) contrast(103%);
    transition: 0.5s, filter 0s;
  }

  img:hover {
    transform: scale(1.05);
  }

  .linkedin:hover {
    filter: invert(30%) sepia(17%) saturate(1371%) hue-rotate(112deg)
      brightness(97%) contrast(84%);
  }

  .git:hover {
    filter: invert(21%) sepia(85%) saturate(1519%) hue-rotate(202deg)
      brightness(101%) contrast(99%);
  }
}

.head {
  display: flex;
  flex-direction: column;

  margin: 0 5vw 0 7vw;

  @media screen and (max-width: var.$md) {
    margin: 0;
  }
}

.photo-container {
  @media screen and (max-width: var.$md) {
    display: none;
  }
}

.headshot {
  width: 30vw;
  height: 30vw;
  border: 5px solid #f8f8f8;
  border-radius: 10%;
}
