// * and body cover general styling
* {
  box-sizing: border-box;
  margin: 0;

  @include themed() {
    color-scheme: t("scheme");
  }
}

body {
  overflow-x: hidden;
  min-height: 100%;

  // Font Rendering
  font-family: "Inter", "Franklin Gothic Medium", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none !important;
  @include themed() {
    color: t("text");
  }

  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Text styles/classes
@each $heading, $value in $headings { 
  #{$heading}, .#{$heading} {
    font-size: map-get($value, "size");
    @media (min-width: $xl) {
      font-size: map-get($value, "max-size");
    }
    font-weight: map-get($value, "weight");
    line-height: map-get($value, "line-height");
    letter-spacing: map-get($value, "letter-spacing");
  }
}

// Links aren't a specific size, apply a heading class
a {
  @include themed() {
    color: t("text");
  }
  text-decoration: none;
}

// Button classes
.button- {
  @each $color, $value in $colors {
    &#{$color} {
      background-color: $value;
      box-shadow: $value 0 10px 20px -10px;

      border-radius: 100px;
      color: #ffffff;
      cursor: pointer;
      font-weight: 700;
      padding: 8px 18px;
      width: fit-content;
      border: 0;
      outline: none;
    
      text-align: center;
      text-justify: center;
    }
  }
}

// 
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 1vh;

  @media (min-width: $lg) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 5vw;
  }
}

.header {
  text-align: center;
  width: 100vw;
  line-height: 5em;
}

.icon {
  @include themed() {
    filter: t("filter");
  }
}
