@use "@styles/variables" as var;

.error-style {
  display: flex;
  flex-direction: column;

  height: 90vh;
  padding: 10vw;

  p {
    margin-bottom: 5vh;
  }

  @include var.themed() {
    background-color: var.t("bg");
  }
}
