/*
* Sass variables used throughout .scss files
*/

// Colors
$bg-main: #191919;
$bg-alt: #111111;
$bg-accent: #303030;

// Gradient Vars
$gradient: linear-gradient(
  120deg,
  rgba(41, 99, 82, 1) 19%,
  rgba(67, 151, 141, 1) 47%,
  rgba(23, 80, 174, 1) 74%
);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
