/*
* Sass variables used throughout .scss files
*/

// Colors
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$blue-alt: #076678;

$purple: #b16286;
$aqua: #689d6a;

// Light Mode
$bg-main-light: #f6f6f6;
$bg-alt-light: #eceff1;
$bg-accent-light: #303030;

$text-light: #323235;
$scheme-light: light;

// Dark Mode
$bg-main-dark: #1d2021;
$bg-alt-dark: #161819;
$bg-accent-dark: #303030;

$text-dark: #ffffff;
$scheme-dark: dark;

// Themes & Mixins
$themes: (
  light: (
    bg: $bg-main-light,
    alt: $bg-alt-light,
    accent: $bg-accent-light,
    text: $text-light,
    scheme: $scheme-light,
    filter: invert(16%) sepia(5%) saturate(534%) hue-rotate(201deg)
      brightness(95%) contrast(87%),
  ),
  dark: (
    bg: $bg-main-dark,
    alt: $bg-alt-dark,
    accent: $bg-accent-dark,
    text: $text-dark,
    scheme: $scheme-dark,
    filter: invert(98%) sepia(97%) saturate(16%) hue-rotate(208deg)
      brightness(103%) contrast(101%),
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

// Gradient Vars
$gradient: linear-gradient(
  90deg,
  $red 25%,
  $green 25%,
  $green 50%,
  $yellow 50%,
  $yellow 75%,
  $blue 75%
);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
