@use "@styles/variables" as var;

* {
  box-sizing: border-box;
  margin: 0;

  @include var.themed() {
    color-scheme: var.t("scheme");
  }
}

html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 140%;
  -webkit-font-smoothing: antialiased;

  @include var.themed() {
    color: var.t("text");
  }
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

body {
  @include var.themed() {
    color: var.t("text");
  }
}

p {
  font-family: "Karla", "Times New Roman", Times, serif;
  font-weight: normal;

  @include var.themed() {
    color: var.t("text");
  }
}

a {
  font-family: "Inter", Arial;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;

  @include var.themed() {
    color: var.t("text");
  }
}

button {
  background-color: transparent;
  border-radius: 20px;
  transition: 0.5s;
}

// Small Breakpoint
@media (min-width: var.$sm) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }
}

// Medium Breakpoint
@media (min-width: var.$md) {
  // h1 {
  //   font-size: 70px;
  // }

  // h2 {
  //   font-size: 40px;
  // }

  // h3 {
  //   font-size: 25px;
  // }
}

// Large Breakpoint
@media (min-width: var.$lg) {
  // h1 {
  //   font-size: 70px;
  // }

  // h2 {
  //   font-size: 40px;
  // }

  h3 {
    font-size: 30px;
  }
}

// XL Breakpoint
@media (min-width: var.$xl) {
  h1 {
    font-size: 75px;
  }

  // h2 {
  //   font-size: 40px;
  // }

  // h3 {
  //   font-size: 30px;
  // }
}
