@use "@styles/variables" as var;

* {
  // General stuff
  box-sizing: border-box;
  margin: 0;

  @include var.themed() {
    color-scheme: var.t("scheme");
  }

  // Font Rendering
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-synthesis: none !important;
}

html {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border-radius: 20px;
  transition: 0.5s;
}

// // Default Text Styling

// Set text color
h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
a {
  @include var.themed() {
    color: var.t("text");
  }
}

// Set header deaults
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: normal;
  line-height: 140%;
  -webkit-font-smoothing: antialiased;
}

// Set paragraph defaults
p {
  font-family: "Karla", "Times New Roman", Times, serif;
  font-weight: normal;
}

// h1 - Used for main page headers
// IE: Article Titles, or name on home page
h1,
.h1 {
  font-size: calc(2.5rem + 1.25vw);
  font-weight: 700;
}

// h2 - Used for section headers
// IE: Header for article section
h2,
.h2 {
  font-size: calc(1.35rem + 0.9vw);
  font-weight: 600;
}

// h3 - Used for important text in forms/buttons
// IE: Navbar buttons, and the contac form
h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

p,
.p {
  font-size: calc(1rem + 0.3vw);
  line-height: 120%;
}

// Font Breakpoint
@media (min-width: var.$xl) {
  h1,
  .h1 {
    font-size: 4rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }

  p,
  .p {
    font-size: 1.25rem;
  }
}

// Global class hide - For toggable elements
.hide {
  display: none;
}
