* {
  // General stuff
  box-sizing: border-box;
  margin: 0;

  @include themed() {
    color-scheme: t("scheme");
  }
}

body {
  overflow-x: hidden;
  min-height: 100%;

  // Font Rendering
  font-family: "Inter", "Times New Roman", "sans-serif";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none !important;
  @include themed() {
    color: t("text");
  }
}

@each $heading, $value in $headings { 
  #{$heading}, .#{$heading} {
    font-size: map-get($value, "size");
    @media (min-width: $xl) {
      font-size: map-get($value, "max-size");
    }
    font-weight: map-get($value, "weight");
    line-height: map-get($value, "line-height");
    letter-spacing: map-get($value, "letter-spacing");
  }
}

@each $color, $value in $colors {
  .#{$color} {
    color: $value;
    filter: $value
  }

  .#{$color}-hover:hover {
    color: $value;
    filter: $value
  }
}

a {
  @include themed() {
    color: t("text");
  }
  text-decoration: none;
}

// Missing background, and box-shadow color
.button {
  border-radius: 100px;
  box-shadow: 0 10px 20px -10px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 18px;
  width: fit-content;
  border: 0;
  outline: none;

  text-align: center;
  text-justify: center;
}
