/* General Styling + Index Page */

* {
   margin: 0; 
   text-decoration: none;
   overflow-x: hidden;
}

body {
    font-family: sans-serif;
    color: #031926;
}

/* sfhdhf */

h1 {
    color: white;
    font-size: 8em;
    text-shadow: 6px 6px #031926;
    border-right: .09em solid white;
    overflow: hidden;
    width: 0;
    max-width: max-content;
}

#header-top {
    animation: 
    typing 2s steps(20, end) forwards;
}

#header-end {
    border-color: transparent;
    
    animation: 
    typing 2s steps(20, end) 1s forwards,
    blinking .8s infinite 1s; 
}

@keyframes typing {
    from { width: 0;}
    to { width: 100%; border-color: transparent; padding-right: 1vw;}
}

@keyframes blinking {
    from { border-color:  transparent;}
    to { border-color: white;}
}

/* fdfd */

h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

footer {
    background-color: #031926;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.nav-bar {
    background-color: #1F6C98;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 5vh;
    z-index: 2;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-around;
}

.nav-button {
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    text-shadow: .5px 1px #031926;
    transition: 2s;
}

.nav-button:hover {
    padding: 15vw;
    background-color: #1C6087;
}

.page-header {
    background-image: url("../img/img1.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

.header-text {
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
}

.header-arrow {
    position: absolute;
    bottom: 3vw;
    left: 45vw;
    width: 10vw;
    height: 10vh;
    cursor: pointer;
    transition: 1s;
}

.header-arrow:hover {
    bottom: 1vw;
}

.body-row {
    display: flex;
    flex-direction: row;
    padding: 2.5%;
}

.body-column {
    text-wrap: balance;
}

.link-container {
    border-radius: 25px;
    background-color: #FBF8EE;
    min-width: 40vw;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.link-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1%;
    font-size: 2em;
}

.link-img {
    width: 2vw;
    height: 2vw;
}

.footer-link {
    color: white;
    text-decoration: underline;
}

/* Resume Styling */

/* Project Styling */