* {
   margin: 0; 
   text-decoration: none;
   overflow-x: hidden;
}

body {
    font-family: sans-serif;
    color: #031926;
}

h1 {
    color: white;
    font-size: 6em;
    text-shadow: 6px 6px #031926; 
}

footer {
    background-color: #031926;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.nav-bar {
    background-color: #1F6C98;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 5vh;
    z-index: 2;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-around;
}

.nav-button {
    color: white;
    font-weight: 900;
    text-shadow: .5px 1px #031926;
    transition: 2s;
}

.nav-button:hover {
    padding: 15vw;
    background-color: #1C6087;
}

.page-header {
    background-image: url("../img/img1.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: initial;
}

.header-text {
    margin-left: -30%;
    margin-bottom: 9%;
}

.header-arrow {
    scale: .4;
    cursor: pointer;
    transition: 1s;
}

.header-arrow:hover {
    scale: .5;
}

.body-row {
    display: flex;
    flex-direction: row;
    padding: 2.5%;
}

.body-column {
    text-wrap: balance;
}

.link-container {
    border-radius: 25px;
    background-color: #FBF8EE;
    min-width: 40vw;
    padding: 1%;
}

.link-wid {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0;
}

.link-img {
    scale: .1;
}
